<div class="right">
    <div id="wrapper">
      <h2>Partners within your risk windows:</h2>
      <ul>
      <% @at_risk.each do |partner| %>
        <li>
          <%= partner.name %>
        </li>
      <% end %>
      </ul>
      <br>
      <br>
      <br>
      <h2><%= link_to "Add New Partner", new_partner_path %></h2>
    </div>
  </div>
  <div class="dashes"></div>
<div class="center"><% @partners.each do |partner| %>
    <h2><%= link_to partner.name, partner_path(partner) %></h2><br>
    <strong>Most recent encounter:</strong><br>
    <% if partner.most_recent %>
      Fluid exchange: <%= partner.most_recent.fluid %><br>
      date: <%= partner.most_recent.took_place %><br>
      Self-assessed risk level: <%= partner.most_recent.self_risk %><br>
      App-assessed risk:
      <% if partner.most_recent.risk <= 4 %>
        <span class="low">low</span>
      <% elsif partner.most_recent.risk <= 8 %>
        <span class="medium">medium</span>
      <% else %>
        <span class="high">high</span>
      <% end %><br>
      Notes: <%= partner.most_recent.notes %><br>
    <% end %>
    <br><br>
  <% end %>
  <%= link_to "Add New Partner", new_partner_path %>
  </div>


