<div class="center">
  <%= @partner.name %><br>
  Frequency of encounters: <%= @partner.frequency %><br>
  Exclusivity: <%= @partner.exclusivity %><br>
  Trust level: <%= @partner.familiarity %><br>
  <br>
  <%= link_to "edit", edit_partner_path(@partner) %>
</div>
<div class="dashes"></div>
<div class="right">
  <% @encounters.each do |encounter| %>
    <%= link_to encounter.took_place, partner_encounter_path(@partner, encounter)%><br>
    Self-assessed risk: <%= encounter.self_risk %><br>
    Notes: <%= encounter.notes %><br>
    <br>
  <% end %>
  <br>
  <%= link_to "new encounter", "/partners/#{@partner.id}/encounters/new" %></div>
