<div class="center">
  <% @sti_tests.each do |sti_test| %>
    <%= link_to sti_test.date_taken, sti_test_path(sti_test) %><br>
  <% end %>
  <br>
  <br>
  <%= link_to "Add a test", new_sti_test_path %>
</div>
<div class="dashes"></div>
<div class="right">
  <ul>
  <% @diseases.each do |disease| %>
  <li>
    <% if disease.risk_window(@user) %>
        <%= "#{disease.name} risk window began:"%><br>
        <%=" #{disease.risk_window(@user).strftime('%m/%d/%Y')}" %>
    <% else %>
      <%= "No test data for #{disease.name}; consider getting tested."%>
    </li>
    <% end %>
  <% end %>
  </ul>
</div>
