<div class="center">
  <h1><%= "#{@user.name} (#{@user.pronoun.subject})" %></h1> <br>
  <%= "Average risk: #{@user.risk}" %><br>
  <% @diseases.each do |disease| %>
  <% if disease[1] %>
    <%= "#{disease[0]} risk window began: #{disease[1].strftime('%m/%d/%Y')}" %>
  <% else %>
    <%= "No test data for #{disease[0]}; consider getting tested." %>
  <% end %><br>
<% end %>
  <%= link_to "edit", edit_user_path(@user) %><br>
</div>
<div class="dashes"></div>
<div class="right">
  <h2>Recent Encounters:</h2>
  <ul>
    <li><% @encounters.each do |encounter| %>
        <br><%= link_to encounter.took_place, partner_encounter_path(encounter.partner, encounter) %>: <br>
        <%= encounter.partner.name %><br>
        Risk level:
        <% if encounter.risk <= 4 %>
        low
      <% elsif encounter.risk <= 8 %>
        medium
      <% else %>
        high
      <% end %><br>
      <% end %>
    </li>
  </ul>
</div>
