<div class="center"><%= form_for [@partner, @encounter] do |t|%>
  <%= t.date_select :took_place %><br>
  <br>
  Self-assessed risk: <%= t.select :self_risk, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) %><br>
  <br>
  <%= t.label :notes %><br>
  <%= t.text_area :notes %><br>
  <br>
    <% @instruments.each do |instrument| %>
      <% if @user.pref_id != nil && instrument.part == "genitals" && !@user.pref.genital_name.empty? %>
        My <strong><%= @user.pref.genital_name%></strong> came in contact with
      <% elsif @user.pref_id != nil && instrument.part == "anus" && !@user.pref.anus_name.empty?%>
        My <strong><%= @user.pref.anus_name%></strong> came in contact with
      <% else %>
        My <strong><%= instrument.part %></strong> came in contact with
      <% end %>
      <% if @partner.pref_id %>
        <%= @partner.pronoun.possessive %><br>
      <% else %>
        <%= "their" %><br>
      <% end %>
      <% @instruments.each do |inst| %>
        <%= t.fields_for :contacts do |builder| %>
        <% if instrument.part == "hand" || instrument.part == "toys" %>
          <% if inst.part != "hand" && inst.part != "toys" %>
            <%= builder.check_box :partner_instrument, {}, inst.id, nil %> <%= inst.part %>
            <%= builder.check_box :barriers %> with a barrier <br>
            <%= builder.hidden_field :user_instrument, value: "#{instrument.id}" %>
          <% end %>
        <% else %>
          <%= builder.check_box :partner_instrument, {}, inst.id, nil %>
          <% if @partner.pref_id != nil && inst.part == "genitals" && !@partner.pref.genital_name.empty?%>
            <%= @partner.pref.genital_name %>
          <% elsif @partner.pref_id != nil &&inst.part == "anus" && !@partner.pref.anus_name.empty? %>
            <%= @partner.pref.anus_name  %>
          <% else %>
            <%= inst.part %>
          <% end %>
          <%= builder.hidden_field :user_instrument, value: "#{instrument.id}" %>
          <%= builder.check_box :barriers %> with a barrier <br>
        <% end %>
      <% end %>
    <% end %><br>
  <% end %>
  <%= t.check_box :fluid, value: true %>fluid exchange not accounted for (e.g. ejaculate in eyes, nose, or open cuts)<br>
  <br>
  <%= t.submit %>
<% end %>
</div>
