<!DOCTYPE html>
<html>
<head>
  <title>ThirdProj</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] %>
<%= link_to "Log out", "/logout"%><br>
<%= link_to "Dash", "/users" %><br>
<% else %>

<% end %>
<%= yield %>

</body>
</html>
