<!DOCTYPE html>
<html>
<head>
  <title>ThirdProj</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
  <% if session[:user_id] %>
  <ul>

    <li>
      <%= link_to "Log out", "/logout"%><br>
    </li>
    <li>
      <%= link_to "Dash", "/users" %><br>
    </li>
    <li><%= link_to "partners", "/partners" %></li>
    <li><%= link_to "encounters", "/users/#{session[:user_id]}/encounters"%></li>
  </ul>
  <% else %>

  <% end %>
</div>
<%= yield %>

</body>
</html>
